/******************   
MIXINS     
*******************/
/*Vendor prefix mixin
 Use: 
 @include vendor-prefix(name, value)
*/
/*
SIMPLE BLOCK GRID (from css-tricks.com)
*/
/*
UNEVEN GRID FUNCTION
*/
/*
GENERIC  TRANSITION
*/
.grid-1 {
  width: 99%; }
  .grid-1:nth-child(1n) {
    margin-right: 0 !important; }
  .grid-1:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%; }

.grid-2 {
  width: 49%; }
  .grid-2:nth-child(2n) {
    margin-right: 0 !important; }
  .grid-2:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%; }

.grid-3 {
  width: 32.33333%; }
  .grid-3:nth-child(3n) {
    margin-right: 0 !important; }
  .grid-3:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%; }

.grid-4 {
  width: 24%; }
  .grid-4:nth-child(4n) {
    margin-right: 0 !important; }
  .grid-4:nth-child(n) {
    margin-bottom: 1%;
    margin-right: 1%; }
