/***************   
VARIABLES     
*****************/

$nav: #224466; 
$links: #cdddbb;
$page-wrap: #5798ab;
$sat-blue: #2099ff;
$light-blue: #88ddff;
$nav-highlight: rgba(30, 30, 30, 0.3); 
$nav-darken: rgba(30, 30, 30, 0.5);
$offwhite: #FEFBF6;
$grey: #919191;
$bp-small: 48em;
$bp-large: 64.9375em;
$stardust: url(images/stardust.png) repeat fixed;
$mat-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.4);
$offgrid: 1em + 3.125em;
$max-width: 71.25em;
$bp40: 40em;

